 <section class="advertising-section">
          <div class="container advertising-section-container">
          <div class="advertisung-section-wrapper">
            <h2 class="advertising-section-title">Join 100 Compannies who boost their business with Product</h2>
            <button type="button" class="advertising-section-btn">Get This</button>
          </div>
          <img src="/img/world-wide.svg" alt="two lists of paper with information" width="351" height="331">
          </div>
        </section>