<section class="benefits-section">
        <div class="container">
          <h2 class="visually-hidden">Benefits</h2>
          <ul class="benefits-section-list">
            <li class="benefits-section-item">
              <div class="benefits-item-wrapper">
                <p class="benefits-item-pretitle">Effortless Validation for</p>
                <h3 class="benefits-item-title">Management</h3>
                <p class="benefits-item-descr">
                  The Myspace page defines the individual, his or her
                  characteristics, traits, personal choices and the overall
                  personality of the person.
                </p>
                <ul class="benefits-item-list">
                  <li class="item-list-option">
                    <h4 class="option-title">Accessory makers</h4>
                    <p class="option-descr">
                      While most people enjoy casino gambling, sports betting,
                      lottery and bingo playing for the fun
                    </p>
                  </li>
                  <li class="item-list-option">
                    <h4 class="option-title">Alterationists</h4>
                    <p class="option-descr">
                      If you are looking for a new way to promote your business that
                      won’t cost you more money,
                    </p>
                  </li>
                </ul>
              </div>
              <img
                src="/img/management-img.svg"
                alt="notebook with a lot of tasks for work"
                width="540"
                height="500"
              >
            </li>
            <li class="benefits-section-item">
              <img
                src="/img/support-img.svg"
                alt="laptop with searching tools"
                width="540"
                height="500"
              />
              <div class="benefits-item-wrapper">
                <p class="benefits-item-pretitle">Easier decision making for</p>
                <h3 class="benefits-item-title">Customer Support</h3>
                <p class="benefits-item-descr">
                  The Myspace page defines the individual, his or her
                  characteristics, traits, personal choices and the overall
                  personality of the person.
                </p>
                <ul class="benefits-item-markedlist">
                  <li class="item-markedlist-option">
                    <img src="/img/icon-orange.svg" alt="list-icon-orange" width="35" height="35">
                    Never worry about overpaying for your energy again.</li>
                  <li class="item-markedlist-option">
                    <img src="/img/icon-red.svg" alt="list-icon-red" width="35" height="35">
                    We will only switch you to energy companies that we trust and
                    will treat you right
                  </li>
                  <li class="item-markedlist-option">
                    <img src="/img/icon-blue.svg" alt="list-icon-blue" width="35" height="35">
                    We track the markets daily and know where the savings are.
                  </li>
                </ul>
              </div>
            </li>
            <li class="benefits-section-item">
              <div class="benefits-item-wrapper">
                <p class="benefits-item-pretitle">Optimisation for</p>
                <h3 class="benefits-item-title">Collaborative</h3>
                <p  class="benefits-item-descr">
                  Few would argue that, despite the advancements of feminism over
                  the past three decades, women still face a double standard when it
                  comes to their behavior.
                </p>
                <ul class="benefits-item-list">
                  <li class="item-list-option">
                    <h4 class="option-title">Accessory makers</h4>
                    <p class="option-descr">
                      While most people enjoy casino gambling, sports betting,
                      lottery and bingo playing for the fun
                    </p>
                  </li>
                  <li class="item-list-option">
                    <h4 class="option-title">Alterationists</h4>
                    <p class="option-descr">
                      If you are looking for a new way to promote your business that
                      won’t cost you more money,
                    </p>
                  </li>
                </ul>
              </div>
              <img
                src="/img/collaboration-img.svg"
                alt="a folder with a lot of papers with users`"
                width="540"
                height="500"
              />
            </li>
          </ul>
        </div>
      </section>