<section class="choose-section">
        <div class="container choose-section-container">
          <h2 class="choose-section-title">Why Choose Product?</h2>
          <ul class="choose-section-list">
            <li class="choose-section-item">
             <img src="/img/arrow.svg" alt="arrow  on green background" width="51" height="50" class="choose-item-icon">
              <h3 class="choose-item-title">Special Business </h3>
              <p class="choose-item-text">Product helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
            </li>
            <li class="choose-section-item">
             <img src="/img/mi.svg" alt="logo of mi on red be" width="50" height="50" class="choose-item-icon">
              <h3 class="choose-item-title">Instant Result</h3>
              <p class="choose-item-text">Product helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
            </li>
            <li class="choose-section-item">
               <img src="/img/customer-images/heart.svg" alt="icon of heart on red background" width="50" height="50" class="choose-item-icon">
               <h3 class="choose-item-title">Fastest way to organize</h3>
              <p class="choose-item-text">Product helps you see how many more days you need to work to reach your financial goal for the month and year.</p>
            </li>
          </ul>
        </div>
       </section>