<section class="clients-section">
<div class="container clients-section-container">
  <h1 class="visually-hidden">Page Customers</h1>
  <h2 class="clients-section-title">Our Clients</h2>
  <ul class="clients-section-list">
    <li class="clients-section-item"><img src="/img/customer-images/Airbnb Logo.svg" alt="Airbnb Logo" width="159" height="50"></li>
    <li class="clients-section-item"><img src="/img/customer-images/Google-Logo.svg" alt="Google-Logo" width="146" height="50"></li>
    <li class="clients-section-item"><img src="/img/customer-images/Microsoft-Logo.svg" alt="Microsoft-Logo" width="213" height="50"></li>
    <li class="clients-section-item"><img src="/img/customer-images/FedEx-Logo.svg" alt="FedEx-Logo" width="140" height="50"></li>
  </ul>
</div>
       </section>