 <section class="faq-section">
        <div class="container faq-section-container">
          <h2 class="faq-section-title">Frequently asked question</h2>
          <p class="faq-section-descr">Something is not clear? You need help? Check our FAQ section</p>
          <ul class="faq-list">
            <li class="faq-item">
              <svg class="faq-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-plus_circle"></use>
              </svg>
              <p class="faq-item-question">What are my payment option?</p>
            </li>
            <li class="faq-item">
              <svg class="faq-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-minus_circle"></use>
              </svg>
              <p class="faq-item-question">How can I invite collaborator to platform?</p>
              <p class="faq-item-answer">After creating your account you will have an oppurtunity to create your first project that will be associated with the collaborators e-mail. An invitation  will be sent automatically. Then, invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
            </li>
            <li class="faq-item">
              <svg class="faq-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-plus_circle"></use>
              </svg>
              <p class="faq-item-question">Can I upgrade my plan?</p>
          
            </li>
            <li class="faq-item">
              <svg class="faq-icon" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-plus_circle"></use>
              </svg>
              <p class="faq-item-question">Can I cancel my plan at anytime?</p>
            </li>
          </ul>
        </div>
      </section>