<section class="features-section">
      <div class="container">
        <h2 class="features-section-title">Product is being used with great effects alongside:</h2>
        <div class="features-section-wrapper">
          <img src="./img/pricing-images/amico.svg" alt="Devices on the desk" width="528" height="392">
          <ul class="features-list">
            <li class="features-item">
              <img src="/img/pricing-images/Feature-Icon-enter.svg" alt="icon with 2 green stripes" width="50" height="50">
              <h3 class="features-item-title">Enterpreneur</h3>
              <p class="features-item-text">Product is a great way to help medium and samall enterprise owners achieve their goals</p>
            </li>
            <li class="features-item">
              <img src="/img/pricing-images/Feature-Icon-acc.svg" alt="icon with blue rectangle and stripe" width="50" height="50">
              <h3 class="features-item-title">Accountants</h3>
              <p class="features-item-text">Whether you are working on contract with clients, or on other key accounting documents, Product is for you</p>
            </li>
            <li class="features-item">
              <img src="/img/pricing-images/Feature-Icon-study.svg" alt="3 stripes of different color and width" width="50" height="50">
              <h3 class="features-item-title">Universities</h3>
              <p class="features-item-text">Organize university projects and have documents easily graded online with Product</p>
            </li>
          </ul>
        </div>
      </div>
      </section>