<section class="features-section">
        <div class="container">
          <h2 class="features-section-title">Product was Built Specifically for You</h2>
          <ul class="features-section-list">
            <li class="features-section-item">
              <img src="/img/arrow.svg" alt="white arrow on green background" width="54" height="62" class="item-icon">
              <h3 class="item-title">First click tests</h3>
              <p class="item-descr">While most people enjoy casino gambling,</p>
            </li>
            <li class="features-section-item">
             <img src="/img/mi.svg" alt="logo of mi on blue background" width="54" height="62" class="item-icon">
              <h3 class="item-title">Design surveys</h3>
              <p class="item-descr">Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="features-section-item">
             <img src="/img/heart.svg" alt="icon of heart on violet background" width="54" height="62" class="item-icon">
              <h3 class="item-title">Preference tests</h3>
              <p class="item-descr">The Myspace page defines the individual.</p>
            </li>
            <li class="features-section-item">
             <img src="/img/clock.svg" alt="icon of clock on red background" width="54" height="62" class="item-icon">
              <h3 class="item-title">Five second tests</h3>
              <p class="item-descr">Personal choices and the overall personality of the person.</p>
            </li>
          </ul>
          <button type="button" class="features-section-btn">Sign up now</button>
        </div>
      </section>