  <footer>
      <div class="container">
        <div class="footer-container">
          <div class="footer-social">
            <a href="./index.html" class="logo footer-logo">
              <img src="/img/logo.svg" alt="logo" width="40" height="36">
              Product</a>
            <ul class="footer-social-list">
              <li class="footer-social-item">
                <a class="footer-social-link"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="Instagram">
                  <svg class="footer-social-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                  </a>
              </li>
              <li class="footer-social-item">
                <a class="footer-social-link"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="Facebook"
                  >
                  <svg class="footer-social-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                  </a>
              </li>
              <li class="footer-social-item">
                <a class="footer-social-link"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  aria-label="Twitter">
                  <svg class="footer-social-icon" width="24" height="24">
                    <use href="/img/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                  </a>
              </li>
            </ul>
          </div>
          <nav class="footer-nav">
            <div class="footer-nav-resourses">
              <p class="footer-nav-text">Resource</p>
              <ul class="footer-links-list">
                <li class="footer-links-item"><a href="" class="footer-nav-link">About Us</a></li>
                <li class="footer-links-item"><a href="" class="footer-nav-link">Blog</a></li>
                <li class="footer-links-item"><a href="" class="footer-nav-link">Contact</a></li>
                <li class="footer-links-item"><a href="" class="footer-nav-link">FAQ</a></li>
              </ul>
            </div>
            <div class="footer-nav-legal">
              <p class="footer-nav-text">Legal Stuff</p>
              <ul class="footer-links-list">
                <li class="footer-links-item"><a href="" class="footer-nav-link">Disclaimer</a></li>
                <li class="footer-links-item"><a href="" class="footer-nav-link">Financing</a></li>
                <li class="footer-links-item"><a href="" class="footer-nav-link">Privacy Policy</a></li>
              </ul>
            </div>
          </nav>
          <div class="footer-feedback">
            <p class="footer-nav-text footer-feedback-text">knowing you're always on the best energy deal.</p>
            <form class="footer-form">
              <label class="footer-form-label">
              <input type="tel" id="user-tel" name="user-tel" placeholder="Enter your phone number" class="footer-form-input">
              <svg class="footer-form-icon" width="18" height="28">
                    <use href="/img/symbol-defs.svg#icon-mobile-screen"></use>
                  </svg>
              </label>
                <button type="submit" class="footer-form-btn">Sign up Now</button>
            </form>
          </div>
        </div>
        <p class="footer-low-text">Made With Love By Figmaland All Right Reserved&copy;</p>
      </div>
    </footer>