  <section class="hero-resources">
        <div class="container hero-resources-container">
          <h1 class="visually-hidden">Page Resources</h1>
          <div class="hero-resources-content">
            <h2 class="hero-resources-title">
              Great Business made with Product.
            </h2>
            <p class="hero-resources-descr">
              Build better customer relationships easily messaging that provides
              a more personal experience for you and your customers.
            </p>
            <form autocomplete="on" class="hero-resources-form">
              <label class="hero-resources-form-label">
                <input
                  type="email"
                  name="user-email"
                  id="resources-user-email"
                  placeholder="Enter your email adress"
                  class="hero-resources-form-input"
                />
                <button type="submit" class="hero-resources-form-button">
                  Join Now
                </button>
              </label>
            </form>
            <div class="subscribers">
              <div class="subscripers-photos">
                <img
                  src="/img/resources-images/portrait-first-min.jpg"
                  alt="photo of subscriber"
                  width="50"
                  height="50"
                />
                <img
                  src="/img/resources-images/portrait-second-min.jpg"
                  alt="photo of subscriber"
                  width="50"
                  height="50"
                />
                <img
                  src="/img/resources-images/portrait-third-min.jpg"
                  alt="photo of subscriber"
                  width="50"
                  height="50"
                />
              </div>
              <p class="subscribers-text">
                Join over <span class="subscribes-text-highlight">4,000</span>+
                other
              </p>
            </div>
          </div>
          <picture>
            <source media="(min-width: 1150px)" srcset="/img/resources-images/chatbot.svg">
            <source media="(max-width: 1149px)" srcset="../img/resources-images/Flat_Browser.svg">
              <img
                src="/img/resources-images/chatbot.svg"
                alt="2 images of screens with black background and fragments of code"
                width="541"
                height="482"
                class="hero-resources-image"
              />
          </picture>
        </div>
      </section>