 <section class="how-section">
        <div class="container">
          <h2 class="how-section-title">How Product Work?</h2>
          <ul class="how-section-list">
            <li class="how-section-item">
              <img src="/img/customer-images/mac-first.svg" alt="screen of macintosh with white background and information" width="500" height="280">
              <div class="item-wrapper">
                <p class="item-pretitle">Step 1</p>
                <h3 class="item-title">Apply for a product</h3>
                <p class="item-descr">Completing our easy step-by-step application form gives you access to multiple business with multiple products. We analyse your business through our proprietary credit analysis technology   </p>
              </div>
            </li>
            <li class="how-section-item">
               <div class="item-wrapper">
                 <p class="item-pretitle">Step 2</p>
                               <h3 class="item-title">Pay fully refundable</h3>
                               <p class="item-descr">Product will contactting you instantly to receive payment of the Application Fee. if no offer of product is available, your fee will be fully refunded.</p>
               </div>
              <img src="/img/customer-images/mac-second.svg" alt="screen of macintosh with black background and information" width="500" height="280">
            </li>
            <li class="how-section-item">
              <img src="/img/customer-images/mac-third.svg" alt="screen of macintosh with white background and graphics" width="500" height="280">
               <div class="item-wrapper">
                 <p class="item-pretitle">Step 3</p>
                               <h3 class="item-title">Completion</h3>
                               <p class="item-descr">Product will continue to liase between borrower and manager to procees and complete a quick and efficient settlement</p>
               </div>
            </li>
          </ul>
          <button type="button" class="how-section-btn">Get in touch with us</button>
        </div>
       </section>