<section class="news-section">
  <div class="container news-section-container">
    <h2 class="news-section-title">Contents Strategies</h2>
    <p class="news-section-descr">We focus on ergonomics and meeting you where you work. It's only a keystroke away.
    </p>
    <ul class="news-section-list">
      <li class="news-section-item">
        <img src="/img/prosperity.jpg" alt="people in office are working on the computers" width="350" height="185">
        <div class="news-section-content">
          <p class="news-item-descr">By <span class="news-item-bold">Wahid Ari</span> |  03 March 2019</p>
          <h3 class="news-item-title">Increasing Prosperity With Positive Thinking</h3>
        </div>
      </li>
      <li class="news-section-item">
        <img src="/img/motivation.jpg" alt="three workers are standing in the hall and talking" width="350" height="185">
        <div class="news-section-content">
          <p class="news-item-descr">By <span class="news-item-bold">Wahid Ari</span> |  03 March 2019</p>
          <h3 class="news-item-title">Motivation Is The First Step To Success</h3>
        </div>
      </li>
      <li class="news-section-item">
        <img src="/img/sucesss.jpg" alt="photo og high buildings" width="350" height="185">
        <div class="news-section-content">
          <p class="news-item-descr">By <span class="">Wahid Ari</span> |  03 March 2019</p>
          <h3 class="news-item-title">Success Steps For Your Personal Or Business</h3>
        </div>
      </li>
    </ul>
  </div>
</section>