<section class="offers-section">
        <div class="container">
          <h2 class="offers-section-title">Join thousand of other who have
          already received offers</h2>
          <ul class="offers-section-list">
            <li class="offers-section-item">
              <img src="/img/customer-images/Activity.svg" alt="two icons of battery on red background" width="150" height="150" class="offers-item-icon">
              <h3 class="offers-item-title">Business</h3>
              <p class="offers-item-descr">Cash Flow </p>
              <p class="offers-item-descr">Asset Backed</p>
              <p class="offers-item-descr low">Receivables Finance</p>
              <p class="offers-item-text">Find the best business product</p>
            </li>
            <li class="offers-section-item">
              <img src="/img/customer-images/Chart.svg" alt="two icons of organisers" width="150" height="150" class="offers-item-icon">
              <h3 class="offers-item-title">Enterprise</h3>
              <p class="offers-item-descr">Site Acquisition</p>
              <p class="offers-item-descr">Bridge</p>
              <p class="offers-item-descr low">Development Financing</p>
              <p class="offers-item-text">Find the best business product</p>
            </li>
          </ul>
        </div>
       </section>