       <section class="prices-section">
        <h1 class="visually-hidden">Page Pricing</h1>
        <div class="container">
           <p class="prices-section-pretitle">Pricing</p>
          <h2 class="prices-section-title">Let’s get some real work done here.</h2>
          <p class="prices-section-descr">Prodict is your perfect solution for working. Get started now for free</p>
          <ul class="prices-section-list">
              <li class="prices-section-item">
                <h3 class="prices-item-title">Free</h3>
                <p class="prices-item-descr">Brief price description</p>
                <p class="prices-item-price">0<span class="prices-item-price-vertical"><sup>$</sup> <span class="prices-item-price-highlight">Per / month</span></span></p>
                <ul class="prices-item-list">
                  <li class="prices-item-list-option">Only 2 Operators</li>
                  <li class="prices-item-list-option">Notifications</li>
                  <li class="prices-item-list-option">Landing Pages</li>
                </ul>
                <button type="button" class="prices-item-btn">Order Now</button>
              </li>
              <li class="prices-section-item">
                <h3 class="prices-item-title">Standard</h3>
                <p class="prices-item-descr">Brief price description</p>
                <p class="prices-item-price">5<span class="prices-item-price-vertical"><sup>$</sup> <span class="prices-item-price-highlight">Per / month</span></span></p>
                <ul class="prices-item-list">
                  <li class="prices-item-list-option">5+ Operators</li>
                  <li class="prices-item-list-option">Notifications</li>
                  <li class="prices-item-list-option">Landing Pages</li>
                </ul>
                <button type="button" class="prices-item-btn">Order Now</button>
              </li>
              <li class="prices-section-item">
                <h3 class="prices-item-title">Premium</h3>
                <p class="prices-item-descr">Brief price description</p>
                <p class="prices-item-price">10<span class="prices-item-price-vertical"><sup>$</sup> <span class="prices-item-price-highlight">Per / month</span></span></p>
                <ul class="prices-item-list">
                  <li class="prices-item-list-option">10+ Operators</li>
                  <li class="prices-item-list-option">Notifications</li>
                  <li class="prices-item-list-option">Landing Pages</li>
                </ul>
                <button type="button" class="prices-item-btn">Order Now</button>
              </li>
            </ul>
        </div>
      </section>