<section class="staff-section">
  <div class="container staff-section-container">
    <h2 class="staff-section-title">Quick & Easy Process</h2>
    <p class="staff-section-descr">Do you require some help for your project: Conception workshop,
    prototyping, marketing strategy, landing page, Ux/UI?</p>
    <ul class="staff-section-list">
    <li class="staff-section-item">
      <img src="/img/avatar-expert.jpg" alt="photo of expert in red border" width="98" height="98">
      <p class="staff-section-item-text">I can take care of your pitch</p>
    </li>
    <li class="staff-section-item">
      <p class="staff-section-item-text">I can prototype your app</p>
      <img src="/img/avatar-expert-app.jpg" alt="photo of expert in violet border" width="98" height="98">
    </li>
    <li class="staff-section-item">
       <p class="staff-section-item-text">I can take care of your pitch</p>
      <img src="/img/avatar-expert-photo.jpg" alt="photo of expert in green border" width="98" height="98">
    </li>
    <li class="staff-section-item">
      <img src="/img/avatar-expert-strategy.jpg" alt="photo of expert in blue border" width="98" height="98">
      <p class="staff-section-item-text">I can help marketing strategy</p>
    </li>
    </ul>
    <button type="button" class="staff-section-btn">Contact our expert</button>
  </div>
</section>