 <section class="updates">
        <div class="container">
          <h2 class="updates-title">Latest Stories</h2>
          <p class="updates-title-descr">
            We focus on ergonomics and meeting you where you work. It's only a
            keystroke away.
          </p>
          <ul class="updates-list">
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-first-min.jpg"
                alt="people in office are working on computers"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Increasing Prosperity With Positive Thinking
                </h3>
              </div>
            </li>
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-second-min.jpg"
                alt="meeting in the office"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Motivation Is The First Step To Success
                </h3>
              </div>
            </li>
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-third-min.jpg"
                alt="man corrects his tie"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Success Steps For Your Personal Or Business
                </h3>
              </div>
            </li>
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-fourth-min.jpg"
                alt="man`s working on computer in office"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Success Steps For Your Personal Or Business
                </h3>
              </div>
            </li>
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-fifth-min.jpg"
                alt="fingers of man who`s typing text"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Success Steps For Your Personal Or Business
                </h3>
              </div>
            </li>
            <li class="updates-card">
              <img
                src="/img/resources-images/Story-sixth-min.jpg"
                alt="woman who`s typing text on computer on the black and white background"
                width="348"
                height="187"
              />
              <div class="updates-card-content">
                <p class="updates-card-text">
                  By <span class="updates-card-textbold">Wahid Ari</span> | 03
                  March 2019
                </p>
                <h3 class="updates-card-title">
                  Success Steps For Your Personal Or Business
                </h3>
              </div>
            </li>
          </ul>
        </div>
        <p class="lower-text">
          More Stories
          <img
            src="/img/resources-images/arrow-right.svg"
            alt="arrow in the black circle"
            width="20"
            height="20"
          />
        </p>
      </section>