.advertising-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
max-width: 371px;
  background-color: #02897a;
  border-radius: 32px;
  margin: 100px auto;
  padding-top: 17px;
  padding-bottom: 0;
}
.advertisung-section-wrapper {
  padding-bottom: 32px;
padding-left: 22px;
  padding-right: 22px;
  padding-top: 32px;
}
.advertising-section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  text-align: center;
  color: #fff;
  max-width: 328px;
  margin-bottom: 104px;
}
.advertising-section-btn {
  display: block;
  border: none;
  margin: 0 auto;
  border-radius: 8px;
  min-width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
}
@media screen  and (min-width: 1150px) {
  .advertising-section-container {
    flex-direction: row;
max-width: 968px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.advertisung-section-wrapper {
  padding-bottom: 46px;
  padding-top: 45px;
  padding-left: 0;
  padding-right: 0;
}
.advertising-section-title {
  max-width: 510px;
  text-align: left;
  margin-bottom: 46px;
}
.advertising-section-btn {
  margin: 0;
  transition: color 500ms ease-in-out,
    background-color 500ms ease-in-out,
    border 500ms ease-in-out;
}
.advertising-section-btn:focus,
.advertising-section-btn:hover {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #bcd0e5;
}
}