.page-header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  padding: 21px 0;
}
.header-nav-list {
display: none;
}

.auth-list {
  display: none;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.icon-moon {
  display: none;
}
.burger-icon {
  stroke: #173a56;
}
@media screen  and (min-width: 1150px) {
  .header-logo {
  gap: 16px;
  padding: 26px 0;
  margin-right: 237px;
}
  .header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
  .header-nav-link {
  display: block;
  padding: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  transition: color 500ms ease-in-out;
}
.header-nav-link:focus,
.header-nav-link:hover {
  color: #02897a;
}
.header-nav-link.current {
  font-weight: 600;
}
.auth-list {
  display: flex;
  align-items: center;
  gap: 21px;
}
.auth-btn {
  display: block;
  min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  transition: color 500ms ease-in-out,
    background-color 500ms ease-in-out,
    border 500ms ease-in-out;
}
.auth-btn:focus,
.auth-btn:hover {
  color: #fff;
  background-color: #02897a;
  border: none;
}
.main-btn {
  display: block;
  min-width: 113px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: color 500ms ease-in-out,
    background-color 500ms ease-in-out,
    border 500ms ease-in-out;
}
.main-btn:focus,
.main-btn:hover {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
} 
.burger-btn {
  display: none;
}
.icon-moon {
  display: inline-block;
}
}